In [7]:
from pandas import DataFrame

In [8]:
def needleman_wunsch(seq1, seq2, match=1, mismatch=-1, gap=-2):
    n = len(seq1)
    m = len(seq2)
    
    dp = [[0] * (m + 1) for _ in range(n + 1)]
    
    for i in range(n + 1):
        dp[i][0] = gap * i
    for j in range(m + 1):
        dp[0][j] = gap * j
    
    for i in range(1, n + 1):
        for j in range(1, m + 1):
            score = match if seq1[i - 1] == seq2[j - 1] else mismatch
            dp[i][j] = max(dp[i - 1][j - 1] + score,
                           dp[i - 1][j] + gap,
                           dp[i][j - 1] + gap)
    
    return dp

In [9]:
seq1 = 'GGAGGTA'
seq2 = 'GTGGGTT'

In [13]:
x = needleman_wunsch(seq1, seq2)
print(x)

[[0, -2, -4, -6, -8, -10, -12, -14], [-2, 1, -1, -3, -5, -7, -9, -11], [-4, -1, 0, 0, -2, -4, -6, -8], [-6, -3, -2, -1, -1, -3, -5, -7], [-8, -5, -4, -1, 0, 0, -2, -4], [-10, -7, -6, -3, 0, 1, -1, -3], [-12, -9, -6, -5, -2, -1, 2, 0], [-14, -11, -8, -7, -4, -3, 0, 1]]

In [16]:
df = DataFrame(needleman_wunsch(seq1, seq2))
df.head(9)

    0   1  2  3  4   5   6   7
0   0  -2 -4 -6 -8 -10 -12 -14
1  -2   1 -1 -3 -5  -7  -9 -11
2  -4  -1  0  0 -2  -4  -6  -8
3  -6  -3 -2 -1 -1  -3  -5  -7
4  -8  -5 -4 -1  0   0  -2  -4
5 -10  -7 -6 -3  0   1  -1  -3
6 -12  -9 -6 -5 -2  -1   2   0
7 -14 -11 -8 -7 -4  -3   0   1

In [17]:
print(x[1][7])

-11

In [22]:
gap = -2
i = 6
j = 6
al1 = ''
al2 = ''
while(i > 0 or j > 0):
    if x[i][j] == x[i-1][j-1] + 1 or x[i][j] == x[i-1][j-1] - 1: #match или mismatch
        al1 += seq1[i]
        al2 += seq2[j]
        i -= 1
        j -= 1
    elif x[i][j] == x[i][j-1] - 2: #gap -> vlevo
        al1 += seq1[i]
        al2 += '-'
        j -= 1
    elif x[i][j] == x[i-1][j] - 2:
        al1 += '-'
        al2 += seq2[j]
        i -= 1
al1 += seq1[i]
al2 += seq2[j]
print("Выравнивание:", al1[::-1], al2[::-1])

Выравнивание: GGAGGTA GTGGGTT

In [23]:
print("Score:", x[7][7])

Score: 1